/* NB The url(...) path is *relative to* the stylesheets folder! */

@font-face {
  font-family: "Lisnoti";
  src: /* List must end with a semi-colon! */
    url('../fonts/Lisnoti-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lisnoti-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lisnoti-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Lisnoti";
  src: /* List must end with a semi-colon! */
    url('../fonts/Lisnoti-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lisnoti-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lisnoti-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: "Lisnoti";
  src: /* List must end with a semi-colon! */
    url('../fonts/Lisnoti-Italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lisnoti-Italic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lisnoti-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
}
@font-face {
  font-family: "Lisnoti";
  src: /* List must end with a semi-colon! */
    url('../fonts/Lisnoti-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lisnoti-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lisnoti-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}

#toc h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 81.25%;
  letter-spacing: 12.5%;
}
